html, body, .menu, .main{
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 10rem;
    min-height: 100%;
    background-color: lightgray;
    border-right: 1px solid gray;
    flex-grow: 1;
}

.main{
    min-height: 100%;
    flex-grow: 8;
    min-width: auto;
}

.login{
    display: inline-block;
    margin: auto;
    border: 1px solid gray;
    background-color: lightgray;
}
